#logo {
	margin-top: -65px;
}

#logo img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

html,body,#upper {
	height: 100%;
}

body>#upper {
	height: auto;
	min-height: 100%;
}

#about {
	padding: 0 20px;
	font-size: 16px;
}

/* Background */
.noise {
	background-image: url("../../assets/img/bg.png");
	background-repeat: repeat;
}

.gradient {
	background-image: url("../../assets/img/gradient.png");
	background-repeat: repeat-x;
}

#heroShadow {
	width: 104%;
	margin-left: -10px;
	margin-top: -35px;
}

.shadow {
	-moz-box-shadow: 3px 3px 5px 6px #ccc;
	-webkit-box-shadow: 3px 3px 5px 6px #ccc;
	box-shadow: 3px 3px 5px 6px #ccc;
}

.ui-state-hover {
	background-color: #08c;
	color: white;
}

.ui-widget-content {
	background-color: white;
	width: 40px;
}

#instructions h2 {
	margin-top: 20px;
	text-align: center;
}

.innerShadow {
	-moz-box-shadow: inset 0px 03px 2px #888; -webkit-box-shadow : inset 0px
	03px 2px #888;
	box-shadow: inner 0px 03px 2px #888;
	-webkit-box-shadow: inset 0px 03px 2px #888;
}

#footer {
	clear: both;
	position: relative;
	z-index: 10;
	height: 3em;
	margin-top: -3em;
	background-color: #eaeaea;
	background-size: 20px 20px;
	background-image: -webkit-repeating-linear-gradient(45deg, rgba(220, 220, 220, .5),
		rgba(220, 220, 220, .5) 1px, transparent 1px, transparent 15px ),
		-webkit-repeating-linear-gradient(-45deg, rgba(220, 220, 220, .5),
		rgba(220, 220, 220, .5) 1px, transparent 1px, transparent 15px );
	background-image: -moz-repeating-linear-gradient(45deg, rgba(220, 220, 220, .5),
		rgba(220, 220, 220, .5) 1px, transparent 1px, transparent 15px ),
		-moz-repeating-linear-gradient(-45deg, rgba(220, 220, 220, .5),
		rgba(220, 220, 220, .5) 1px, transparent 1px, transparent 15px );
	background-image: -o-repeating-linear-gradient(45deg, rgba(220, 220, 220, .5),
		rgba(220, 220, 220, .5) 1px, transparent 1px, transparent 15px ),
		-o-repeating-linear-gradient(-45deg, rgba(220, 220, 220, .5),
		rgba(220, 220, 220, .5) 1px, transparent 1px, transparent 15px );
	background-image: repeating-linear-gradient(44deg, rgba(220, 220, 220, .5),
		rgba(220, 220, 220, .5) 1px, transparent 1px, transparent 15px ),
		repeating-linear-gradient(-45deg, rgba(220, 220, 220, .5),
		rgba(220, 220, 220, .5) 1px, transparent 1px, transparent 15px );
}

.hero-unit {
	padding: 10px 0;
}

#debugConsole {
	display: none;
	position: fixed;
	top: 70px;
	right: 10px;
}

#iphoneDisplay {
	display: block;
}

#iphoneFG {
	position: absolute;
	z-index: 3;
}

#floofCarousel {
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}

#iphoneBG {
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.mainDisplay {
	position: relative;
}

.rotate {
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	transition-property: transform;
	overflow: hidden;
}

.rotate:hover {
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
}